*{
    primary: #442303;
    secondary: #BE7122;
    tertiary: #D49D3F;
    quaternary: #FFA509;
    textcolor: #FFEF89;

    special-button: #8c1018;
    special-hovered: #D91825;
    quaternary-hovered: #ffb433;

    base: #FFFFFF;
}

.button{
    -fx-background-color: quaternary;
    -fx-font-weight: bold;
    -fx-text-fill: primary;
    -fx-font-size: 16px;

    -fx-background-radius: 25px;
}

.text-field{
    -fx-background-color: white;

    -fx-border-color: grey;

    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}

.button:hover{
    -fx-background-color: quaternary-hovered;
    -fx-text-fill: white;
}

.button.button-selected{
    -fx-background-color: quaternary-hovered;
    -fx-text-fill: white;
}

.secondary-button{
    -fx-background-color: tertiary;
    -fx-text-fill: primary;
    -fx-font-size: 12px;

    -fx-background-radius: 25px;
}

.special-button{
    -fx-background-color: special-button;
    -fx-text-fill: white;
    -fx-font-size: 16px;

    -fx-background-radius: 25px;
}

.special-button:hover{
    -fx-background-color: special-hovered;
    -fx-text-fill: white;
    -fx-font-size: 16px;

    -fx-background-radius: 25px;
}

.login{
    -fx-background-color: linear-gradient( from 0% 0% to 100% 0%, white, transparent);
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.item-list-element{
    -fx-background-color: linear-gradient( from 0% 0% to 100% 0%, white, transparent);
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.item-card{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;

    -fx-background-color: linear-gradient(to top, black, transparent);
}

.item-card:hover{
    -fx-border-radius: 2px;
}

.client-top-lane{
    -fx-background-color: primary;
}

.client-middle-lane{
    -fx-background-color: tertiary;

    -fx-text-fill: primary;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.drink-info{
    -fx-background-color: linear-gradient( to top, white, transparent ),
                          linear-gradient( to bottom, white, transparent );

    -fx-text-fill: primary;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.cart{
    -fx-background-color: linear-gradient( to top, white, transparent ),
                        linear-gradient( to bottom, white, transparent );

}

/* Sezione staff homepage */

.staff-top-lane{
    -fx-background-color: primary;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.staff-middle-lane{
    -fx-background-color: tertiary;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #D1CDCD;
    -fx-border-color: LoginTab;
    -fx-border-width: 0px 0px 3px 0px;
}

.tab:selected {
    -fx-border-color: #8C1018;
    -fx-border-width: 0px 0px 2.5px 0px;
}

.tab-label {
    -fx-font-size: 16;
    -fx-text-fill:  #FFFFFF;
}

.tab-header-background {
    -fx-background-color: transparent;
}

.tab-down-button {
    -fx-padding: 0;
}

.tab-down-button .arrow {
    -fx-padding: 0;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 498;
    -fx-alignment:CENTER;
}

