*{
    primary: #442303;
    secondary: #BE7122;
    tertiary: #D49D3F;
    quaternary: #FFA509;
    textcolor: #FFEF89;

    quaternary-hovered: #ffb433;

    base: #FFFFFF;
}

.button{
    -fx-background-color: quaternary;
    -fx-font-weight: bold;
    -fx-text-fill: primary;
    -fx-font-size: 16px;

    -fx-background-radius: 25px;
}

.secondary-button{
    -fx-background-color: tertiary;
    -fx-text-fill: primary;
    -fx-font-size: 12px;

    -fx-background-radius: 25px;
}

.text-field{
    -fx-background-color: base;

    -fx-border-color: grey;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}

.button:hover{
    -fx-background-color: quaternary-hovered;
    -fx-text-fill: white;
}

.login{
    -fx-background-color: linear-gradient( from 0% 0% to 100% 0%, white, transparent);
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.item-card{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;

    -fx-background-color: linear-gradient(to top, black, transparent);
}

.item-card:hover{
    -fx-border-radius: 2px;
}

.client-top-lane{
    -fx-background-color: primary;
}

.drink-info{
    -fx-text-fill: primary;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}


